body {
  background-color: #161618;
  font-family: "Young Serif", serif;
  color: #ffffff;
  line-height: 2;

  /* box-shadow: 0 4px rgba(0, 0, 0, 0.2); */
}

h1 {
  text-align: center;
  padding: 130px 20px 0;
  font-size: 140px;
  margin: 20px;
  font-family: "Bodoni Moda", serif;
  font-weight: 600;
  font-style: normal;
  line-height: 1.2;
}

h2 {
  font-size: 30px;
  margin: 10px;
}

.ancor-links-and-location {
  position: sticky;
  top: 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  font-size: 20px;
}

.top-right {
  margin-right: 0;
}

.top-left {
  gap: 10px;
}

.top-left a {
  margin: 10px;
  padding: 8px 12px;
  border-radius: 5px;
  text-decoration: none;
  color: white;
  font-weight: 500;
  transition: color 0.3s ease, background-color 0.3s ease;
}

.top-left a:hover {
  color: #e6e6e6;
  background-color: #2a2a2c;
}

.surname {
  display: block;
  font-size: 160px;
}

.about {
  text-align: center;
  font-size: 20px;
  margin: 0;
  padding: 0 30px 130px 30px;
}

.education {
  background-color: #1e1e20;
  border: 1px solid #2a2a2c;
  border-radius: 8px;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
  margin: 80px 30px 180px 30px;
  padding: 30px;
}

.university-name {
  font-size: 27px;
  margin: 20px 20px 0 40px;
}

.speciality {
  margin: 0 0 30px 80px;
  line-height: 1.5;
}

.extra-activities {
  text-align: right;
  font-size: 20px;
  margin: 10px 20px 0 0;
  font-style: italic;
}

.extra-activities-list {
  list-style-position: inside;
  text-align: right;
  margin: 0 20px 10px 0;
  font-style: italic;
}

.experience {
  background-color: #1e1e20;
  border: 1px solid #2a2a2c;
  border-radius: 8px;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
  margin: 80px 30px 40px 30px;
  padding: 30px;
}

.position-at-work {
  font-size: 27px;
  margin: 10px 0 0 40px;
}

.company-name {
  font-size: 18px;
  margin: 0 0 20px 80px;
}

.responsibilities-list {
  list-style-position: inside;
  padding-left: 40px;
  margin: 0 0 20px 100px;
  font-size: 18px;
}

.connect {
  text-align: center;
  margin: 20px 0 10px 0;
}
.connect-icons {
  font-size: 40px;
  text-align: center;
}
.connect-icons i {
  color: white;
  margin: 0 10px;
}

i:hover {
  color: #e6e6e6;
}
